<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="InfoSoapBinding" />
            </basicHttpBinding>
            <customBinding>
                <binding name="InfoSoapBinding12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://footballpool.dataaccess.eu/data/info.wso"
                binding="basicHttpBinding" bindingConfiguration="InfoSoapBinding"
                contract="FootballServices.InfoSoapType" name="InfoSoap" />
            <endpoint address="http://footballpool.dataaccess.eu/data/info.wso"
                binding="customBinding" bindingConfiguration="InfoSoapBinding12"
                contract="FootballServices.InfoSoapType" name="InfoSoap12" />
        </client>
    </system.serviceModel>
</configuration>